*{
font-family: 'Raleway', sans-serif;
}
.menu{
    display: inline-block;
    color: #0065FC;
    font-weight: bold;
}

.SearchDestination{
  
}
.IconeFiltre{
color: #0065FC; 

background-color: #DEEBFF;
    border-radius:50%;
}

.CercleGrey{
    color: #0065FC;
    background-color: #F2F2F2;
    border-radius: 50%;
}

.PaveGris{
    background-color: #F2F2F2;
}
.StarBlue{
    color: #0065FC;
}
.StarGrey{
    color: #F2F2F2;
}
