*{
font-family: 'Raleway', sans-serif;

}

body{
    margin-left: 54px;
}

.logo{
    width: 100px;
}

.LogoMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    font-weight: bold;
    display: inline;
    width: 560px;
    text-align: center;
}

nav {
      
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {

}

nav a {
    text-decoration: none;
    color: #0065FC;
}

.Search{

}

.SearchHeader{

}
.SearchTitle{

}

.SearchSubtitle{

}


.SearchDestination{
    width: 420px;
    height: 51px;
    display: flex;
  background-color: #F2F2F2;
  border-radius: 12px ;
  line-height: 51px;
}

.IconeMap{
    width: 52px;
    height: 51px;
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 12px 0px 0px 12px ;
}

.label{
    width: 234px;
    height: 51px;
    border: none;
    display: flex;
    font-weight: bold;
    padding-left: 14px;
}

.ButtonSearch{
    width: 134px;
    border-radius: 0px 12px 12px 0px;
    color: white;
    background-color: #0065FC;
    border: none;
    font-weight: bold;
}

.Filtres{
    display: flex;
    justify-content: space-between;
    width: 938px;
    height: 50px;
    line-height: 50px;
    margin-top: 31px;
    margin-bottom: 31px;
    font-weight: bold;
}

.FiltresTitle{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.Filtre{
    border: 2px solid;
    border-color: #f2f2f2;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border-left: none;
    
}

.IconeFiltre{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.TextFlitre{
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    
}
.InfoQuantité{
    margin-bottom: 31px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.CercleGrey{
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

}

.HebergementPlusPopulaire{
display: grid;
grid-template-columns: 1fr;
column-gap: 30px;
row-gap: 30px;
}

.Hebergement{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 40px;
}

.HebergementHeader{
grid-column: 1/4;
}
.HebergementTitre{

}

.ArticleHebergement{
    background-color: white;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.39);
    padding: 6px;  
    
}

.imgHebergementFg{
    display: block;
    margin: 0;}

.imgHebergement{
    height: 112px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 16px 16px 0 0;
}

.imgHebergementCp{
    display: block;
}

.imgHCpTitre{
    margin: 4px 12px 0 12px;
}

.imgHCpTitre h3 {
    display: block;
    font-weight: bold;
}

.TexteHebergement{
    margin: 4px 12px 4px 12px;
    display: block;
}
.EtoileHebergement{
    margin: 0px 12px 4px 12px;
    display: block;
}


.StarBlue{
    color: #0065FC;
}

.StarGrey{
    color: #F2F2F2;
}

.ShowMore{
font-weight: bold;
}


.Populaires{

}
.populaire{

}
.Activité{

}